In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('heartdata.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
target = data['target'].copy()
data.drop('target', axis=1, inplace = True)

In [8]:
data.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2

In [9]:
target.head(2)

0    1
1    1
Name: target, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data, target, test_size=0.15, random_state = 42)
print(X_train.shape, X_test.shape)

(257, 13) (46, 13)

In [13]:
from sklearn.metrics import log_loss, accuracy_score

def compute_loss(predictions,y_test):
    print('Accuracy Score  :', accuracy_score(predictions, y_test))
    print('Log Loss        :', log_loss(predictions, y_test))

In [14]:
## Logistic Regression
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [16]:
log_reg.fit(X_train, y_train)
predictions = log_reg.predict(X_test)
compute_loss(predictions, y_test)

Accuracy Score  : 0.8478260869565217
Log Loss        : 5.2559702859585995

In [17]:
## Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
predictions = tree.predict(X_test)
compute_loss(predictions, y_test)

Accuracy Score  : 0.8260869565217391
Log Loss        : 6.006830633618184

In [19]:
## Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()
tree.fit(X_train, y_train)
predictions = tree.predict(X_test)
compute_loss(predictions, y_test)

Accuracy Score  : 0.8043478260869565
Log Loss        : 6.757690981277769

In [29]:
## KNeighbors Classifier
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors = 3)
neigh.fit(X_train, y_train)
predictions = neigh.predict(X_test)
compute_loss(predictions, y_test)

Accuracy Score  : 0.7391304347826086
Log Loss        : 9.01028940680935

In [33]:
import pickle
Pkl_Filename = "logistic_regression_model.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(log_reg, file)